#logo {
    height: 25%;
    width: 25%;
    margin-bottom: 20%;
}

#title {
    color: #2E3D49;
}


.home {
    margin-top: 10%;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 1000px) {
    #title {
        margin-top: 10%;
        margin-bottom: 50%;
    }
}